<%- include('plantilla/header',{ titulo: 'Inicio' }) %>


  <h1>hola pinche putita, <%= titulo %>
  </h1>

  <strong>
    
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(element => {%>
          <tr>
            <td><%= element.id %></td>
            <td><%= element.name %></td>
            <td><%= element.email %></td>
          </tr>
          <% }); %>

        </tbody>
      </table>
      
      
  </strong>

<%- include('plantilla/footer',{ footer: 'footer' }) %>